<div id="message-<%= message.id %>">
  <div class="message-info" >
    <div class="mb-2 ">
      <strong class="message-username"><%= message.user.username %></strong>
    </div>
    <div><i><%= message.created_at.strftime("Today at %l:%M %p") %></i></div>
  </div>
  <p><%= message.content %></p>
</div>
