// Define variables for your color scheme

$gray: #0a0a05;
$beige: #FBFBF9;
$purple: #4d4d9d;
$light-pink: #e0d6eb;
$light-blue: #517aa4;
$white: #FFFFFF;



$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #f37609;
$green: #1EDD88;
$light-gray: #F4F4F4;
$black: #000000
