<div class="container">
  <div>
    <h2>All Tasks </h2>
    <%= link_to "Add",  new_task_path(@task), class: "btn btn-primary rounded"%>
  </div>
  <ul>
    <% @tasks.each do | task | %>
      <div class="row">
        <div class=" col align-self-start">
          <li><%= link_to task.title, task_path(task.id)%></li>
        </div>
        <div class=" col align-self-center">
          <%= link_to task_path(task),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title} task?"} do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %></div>
      </div>
    <%end %>
  </ul>
</div>
