
<div>
  <%= form_with(url: music_path, method: :get) do |form| %>
  <%= form.text_field :query, placeholder: "What do you want to listen?" %>
  <%= form.submit "Enter" %>
<% end %>
</div>

<% if @spotify_url.present? %>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/<%= @rel_url %>?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<% end %>
