<div class="container mt-5">

  <div class="dashboard-grid">
    <div class="one bg-primary grid-col-span-2">
      <p>Projects</p>
    </div>
    <div class="two bg-primary grid-col-span-2">
      <p>Tasks</p>
    </div>
    <div class="three bg-primary">
      <p>Overall progress</p>
    </div>
    <div class="four bg-primary">
      <p>Projects workload</p>
    </div>
    <div class="five bg-primary grid-col-span-3">
      <p>Spotify</p>
    </div>

  </div>

</div>
