<div class="container mt-5">

  <div class="dashboard-grid">
    <div class="one dashboard-item grid-col-span-2">
      <p>Projects</p>
    </div>
    <div class="two dashboard-item grid-col-span-2">
      <p>Tasks</p>
    </div>
    <div class="three dashboard-item">
      <p>Overall progress</p>
    </div>
    <div class="four dashboard-item">
      <p>Projects workload</p>
    </div>
    <div class="five dashboard-item grid-col-span-3">
      <p>Spotify</p>
    </div>

  </div>

</div>
