<div class="container">
  <div class="d-flex justify-content-between mt-4">
    <h4 class="text-primary alert-title">
      <i class="fa-solid fa-bell"></i>
      <strong>Reminders</strong>
    </h4>

    <button class="btn btn-primary">
      <%= link_to "New Alert", new_alert_path, class: "text-white text-decoration-none" %>
    </button>
  </div>

  <div class="mt-5">
    <h5><strong>Your reminders:</strong></h5>
    <div class="alerts-grid my-4">

      <%= render "alert_card" %>

    </div>
  </div>

  <div class="mt-5">
    <h5><strong>Our suggestions:</strong></h5>
    <div class="suggestion-list my-4">

      <%= render "suggestions/index" %>

    </div>
  </div>


</div>
