.simple-calendar {

  font-size: 12px;
  padding-bottom: 20px;

  table {
    min-height: 50vh;
  }
  .today {
    background-color: #faf3dd;
  }

  .day-wrapper {
    height: 100px;
    // position: relative;
  }

  .day-date {
    position: sticky;
    top: 0;
  }

  .day {
    width: calc(100% / 7);
    box-sizing: border-box;
    overflow-y: auto;
  }
}

.meeting {
  color: black;
  padding: 4px;
  border-radius: 4px;
  font-size: 10px;
  width: 100%;
  overflow: hidden;
  // background: #1edd88;
  margin-bottom: 4px;
  // transition: background 0.3s ease;
  // position: relative;

  p {
    margin-bottom: 0;
  }

  i {
    // position: absolute;
    // top: 0;
    // right: 0;
    float: right;
  }
}

.meeting:hover {
  background: $light-pink;
}

.High {
  background: #F2D7D8
  ;
}
.Medium {
  background-color: #FDEFCB;
}
.Low {
  background-color:#D1ECDF;
}
