.carousel-caption {
  position: absolute;
  right: 35%;
  top: 70vh;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #785fee;
  text-align: center;
  text-shadow: 1px 2px 3px #62606b94;
}
