.chatroom {
  background: $light-pink;
  // background: url("https://i.pinimg.com/originals/31/33/0e/31330e8bf338610de143291bda0bac21.jpg");
  opacity: 0.8;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
