
.dashboard-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);

  padding-block: 2rem;
  width: 100%;
}

@media (min-width: 40em) {
  .dashboard-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .three {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .four {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.grid-col-span-2 {
  grid-column: span 2;
  overflow-y: auto;
  height: 200px;
}

// .grid-col-span-2::-webkit-scrollbar {
//   width: 8px;
// }

.dashboard-card-top {
  z-index: 2;
  background-color: $beige;
  padding-top: 10px;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.three {
  grid-row-start: 2;
  grid-column-start: 3;
  height: 200px;

  .dashboard-card-title {
    padding-top: 10px;
    margin-bottom: 8px;
   }
}

.four {
  grid-column-start: 3;
  grid-row-start: 1;
  height: 200px;

  .dashboard-card-title {
    padding-top: 10px;
   }
}

.five iframe {
  height: 100%;
  width: 100%;
}

.dashboard-item {
  padding: 0 1rem 1rem 1rem;
  // background-color: #FBFBF9;
  border-radius: 10px;
  box-shadow: 1px 1px 40px 1px rgb(230, 230, 250);
  transition: .2s;
}

.dashboard-item:hover{
  box-shadow: 1px 1px 40px 1px lavender;
  transform: scale(1.02)
}

.dashboard-card-infos {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  z-index: 1;
}

.dashboard-card-headers {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  color: $purple;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.04);
  margin-bottom: 7px;

  p {
    margin-bottom: 0;
    padding-bottom: 4px;
  }
}

.dashboard-card-title {
  color: $purple;

  p {
    margin-bottom: 0.5rem;
  }
}

.tasks-dashboard-card-title {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $purple;
  text-align: center;
  align-items: center;
  background-color: white;

  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    background-color: $purple;
    padding: 3px 15px;
    border-radius: 10px;
  }

  p {
    margin-bottom: 0;
  }
}

.projects-dashboard-card-title {
  position: sticky;
  top: 0;
  padding-top: 10px;
  color: $purple;
  background-color: white;
}

.donut-chart {
  align-items: center;
}

.chart-labels p {
  font-size: 10px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  font-size: 10px;
  color: #00c3ffc5;
  font-weight: bolder;
  border: 1px solid #00c3ff;
  border-radius: 20px;
  background-color: #00c3ff2d;
  padding: 5px 10px;
  margin-right: 5px;
}

.tag-selector:checked + label {
  color: white;
  background-color: #00c3ff;
}

.tag-item {
  display: inline-block;
}
