.form-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);

  span {
    float: right;
    margin-top: -30px;
    margin-right: -20px;
    top: 0;
    cursor: pointer;
  }
}

body {
  position: relative;
}


.form-new-task {
  background-color: white;
  z-index: 30;
  border-radius: 8px;
  width: 600px;
  height: 400px;
  padding: 40px;
}

.form-new-alert {
  background-color: white;
  z-index: 30;
  border-radius: 8px;
  width: 600px;
  height: 400px;
  padding: 40px;

  span {
    float: right;
    margin-top: -30px;
    margin-right: -20px;
    top: 0;
    cursor: pointer;
  }
}
