.status {
  border: 1px solid;
  border-radius: 37px;
  padding: 3px 18px;
}
.Delayed {
  border-color: red;
  color: red;
}

.Completed {
  border-color: green;
  color: green;
}

.progress-status{
  border-color: #dfae55;
  color: #dfae55;
}

.tasks-table {
  font-size: 12px;
}

.tasks-rows {
  font-size: 12px;
}
