.status {
  border: 1px solid;
  border-radius: 37px;
  padding: 3px 18px;
}
.Delayed {
  border-color: red;
  color: red;
}

.Completed {
  border-color: green;
  color: green;
}

.progress-status{
  border-color: #dfae55;
  color: #dfae55;
}

.tasks-table {
  font-size: 12px;
  border-radius: 10px;
  // margin: 0;
  // padding: 0;
  // border-collapse: collapse;
  // width: 100%;
}

.tasks-rows {
  font-size: 12px;
}

.table {
  border-radius: 10px;
}
