// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
// @import "simple_calendar";


// Your CSS partials
@import "components/index";
@import "pages/index";

.yield-container {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #FBFBF9;
  border-radius: 10px;
  box-shadow: 1px 1px 40px 1px rgb(230, 230, 250);
}
