
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
    <% @suggestions.each do |suggestion| %>
    <div class="swiper-slide alert-card">
      <h4><strong><%= suggestion.title %></strong></h4>
      <%# <p><%= @suggestion.description %></p>
    </div>
    <% end %>
  </div>
</div>

<div class="swiper-pagination"></div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 6,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
